@keyframes lightning {
    0% {
        background-position: 200% 0;
    }

    50% {
        background-position: 0 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.lightning-skeleton {
    background: linear-gradient(90deg, #ffffff, #000000, #ffffff);
    background-size: 200% 100%;
    animation: lightning 1.5s linear infinite;
}